In [5]:

# Data Gathering

import numpy as np
import pandas as pd

In [1]:
pip install scikit-learn==1.1.3    ##old scikit-learn install

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '##old'
WARNING: You are using pip version 21.2.3; however, version 23.1.2 is available.
You should consider upgrading via the 'C:\Users\admin\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [6]:
boston_df = pd.DataFrame(boston.data, columns = boston.feature_names)

In [7]:
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [8]:
boston_df['PRICE'] = boston.target # what is this step  price is target feature

In [9]:
boston_df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [10]:

# boston_df.info()
# boston_df.isnull().sum() # or boston_df.isna().sum()
# # conclusin : all data is integer or numerical format and string not present and null values not present

In [11]:
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [12]:
boston_df.isnull().sum() # or boston_df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [13]:
# ###### step 4 : Feature Engineering  ######

# ###### step 5 : Feature selection :  ######
# this dataset is clean so every feature is important

In [14]:

# ###### step  6: model training : #######
#  in this step we divide our features in two parts are input and target variable 

# x = boston_df.drop('PRICE',axis = 1)
# y = boston_df['PRICE']

# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [16]:
 x = boston_df.drop('PRICE',axis = 1)   #these are independant features
 y = boston_df['PRICE']   #price is target feature

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [18]:

#  # split the data #

# x_train,x_test, y_train,y_test = train_test_split(x,y, test_size=0.25,random_state=5)
# x_train.shape,x_test.shape, y_train.shape,y_test.shape        
# # O/P ==>((379, 13), (127, 13), (379,), (127,))

In [19]:
x_train,x_test, y_train,y_test = train_test_split(x,y, test_size=0.25,random_state=5)

In [20]:
x_train.shape,x_test.shape, y_train.shape,y_test.shape

((379, 13), (127, 13), (379,), (127,))

In [21]:

# # model training #

# lin_model = LinearRegression()
# lin_model.fit(x_train,y_train)

In [22]:
lin_model = LinearRegression()

In [23]:
#lin_model.fit(x_train,y_train)

LinearRegression()

In [27]:
# #   step 7 : model evalution(model accuracy) ################

In [25]:
# # training data #

# y_pred_train = lin_model.predict(x_train)

# print("Training data metrx")

# mse = mean_squared_error(y_train,y_pred_train) 
# print(f"MSE = {mse}")
# print(f"RMSE = {np.sqrt(mse)}")

# mae = mean_absolute_error(y_train,y_pred_train)
# print(f"MAE = {mae}")

# r2 = r2_score(y_train,y_pred_train)
# print(f"R-squre value = {r2}")

In [32]:
y_pred_train = lin_model.predict(x_train)

print("Training data metrx")

mse = mean_squared_error(y_train,y_pred_train) 
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_train,y_pred_train)
print(f"MAE = {mae}")

r2 = r2_score(y_train,y_pred_train)
print(f"R-squre value = {r2}")

Training data metrx
MSE = 21.514174022233707
RMSE = 4.638337420049743
MAE = 3.2829237937646543
R-squre value = 0.7468034208269783

In [35]:
# # testing data #

# y_pred = lin_model.predict(x_test)

# mse = mean_squared_error(y_test,y_pred)  # mse(mean squre error) y_test means actual data and y_pred means predicted data
# print(f"MSE = {mse}")
# print(f"RMSE = {np.sqrt(mse)}")

# mae = mean_absolute_error(y_test,y_pred)
# print(f"MAE = {mae}")

# r2 = r2_score(y_test,y_pred)
# print(f"R-squre value = {r2}")

In [36]:
# now testing start ,use x_test as input to predict y_prediction

In [33]:
y_pred = lin_model.predict(x_test)

mse = mean_squared_error(y_test,y_pred)  # mse(mean squre error) y_test means actual data and y_pred means predicted data
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_test,y_pred)
print(f"MAE = {mae}")

r2 = r2_score(y_test,y_pred)
print(f"R-squre value = {r2}")

MSE = 24.274608311687743
RMSE = 4.9269268628312055
MAE = 3.290018352688538
R-squre value = 0.7059096071098063

In [37]:
###So in TRAINING TIME our model accuracy is 74% and TESTING time our model accuracy is 70%

In [38]:
######### USER TEST fuction:  ## #######

#x_train.head(1).T               #for print vertical here use .T

# following value change i mean following is input and find the output ?

In [39]:
x_train.head(1).T

               218
CRIM       0.11069
ZN         0.00000
INDUS     13.89000
CHAS       1.00000
NOX        0.55000
RM         5.95100
AGE       93.80000
DIS        2.88930
RAD        5.00000
TAX      276.00000
PTRATIO   16.40000
B        396.90000
LSTAT     17.92000

In [44]:
CRIM=0.11069
ZN=0.00000
INDUS=13.89000
CHAS=1.00000
NOX=0.55000
RM=5.95100
AGE=93.80000
DIS=2.88930
RAD=5.00000
TAX=276.00000
PTRATIO=16.40000
B=396.90000
LSTAT=17.92000

In [45]:

# # so ha input dewun find PRICE ?
# #colum_list
# array = np.array([CRIM ,ZN ,INDUS ,CHAS ,NOX ,RM ,AGE ,DIS ,RAD ,TAX ,PTRATIO ,B ,LSTAT ,],ndmin = 2)

In [46]:
array = np.array([CRIM ,ZN ,INDUS ,CHAS ,NOX ,RM ,AGE ,DIS ,RAD ,TAX ,PTRATIO ,B ,LSTAT ,],ndmin = 2)

In [47]:
print(array)

[[1.1069e-01 0.0000e+00 1.3890e+01 1.0000e+00 5.5000e-01 5.9510e+00
  9.3800e+01 2.8893e+00 5.0000e+00 2.7600e+02 1.6400e+01 3.9690e+02
  1.7920e+01]]

In [48]:
print(array.ndim)

2

In [50]:

PRICE = lin_model.predict(array)
print("PRICE :",PRICE)                                  ####this is output

PRICE : [24.42432584]

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [51]:

# ###########  Create pickel file  ##########

# # API sathi data ha pickel file madhe lagato so create pickel file

# import pickle

# with open("model.pickle","wb") as file:
#     pickle.dump(lin_model,file)


# # we resqured json file so create :

# import json

# columns_list = list(x.columns)
# d1 = {'columns':columns_list}

# with open("features.json",'w') as file:
#     json.dump(d1, file)

In [52]:
 # API sathi data ha pickel file madhe lagato so create pickel file

import pickle

with open("model.pickle","wb") as file:
    pickle.dump(lin_model,file)

In [54]:
import json

columns_list = list(x.columns)
d1 = {'columns':columns_list}

with open("features.json",'w') as file:
    json.dump(d1, file)

In [53]:
list(x.columns)

['CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'B',
 'LSTAT']